    <form>
        <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">steamid:</span>
            <input type="text" class="form-control" placeholder="None" aria-label="None" aria-describedby="basic-addon1" value="{{ steamid_status.response.players.0.steamid }}">
        </div>
        <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">communityvisibilitystate:</span>
            <input type="text" class="form-control" placeholder="None" aria-label="None" aria-describedby="basic-addon1" value="{{ steamid_status.response.players.0.communityvisibilitystate }}">
        </div>
        <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">profilestate:</span>
            <input type="text" class="form-control" placeholder="None" aria-label="None" aria-describedby="basic-addon1" value="{{ steamid_status.response.players.0.profilestate }}">
        </div>
        <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">personaname:</span>
            <input type="text" class="form-control" placeholder="None" aria-label="None" aria-describedby="basic-addon1" value="{{ steamid_status.response.players.0.personaname }}">
        </div>
        <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">commentpermission:</span>
            <input type="text" class="form-control" placeholder="None" aria-label="None" aria-describedby="basic-addon1" value="{{ steamid_status.response.players.0.commentpermission }}">
        </div>
        <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">profileurl:</span>
            <input type="text" class="form-control" placeholder="None" aria-label="None" aria-describedby="basic-addon1" value="{{ steamid_status.response.players.0.profileurl }}">
        </div>
        <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">avatar:</span>
            <input type="text" class="form-control" placeholder="None" aria-label="None" aria-describedby="basic-addon1" value="{{ steamid_status.response.players.0.avatar }}">
        </div>
        <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">avatarmedium:</span>
            <input type="text" class="form-control" placeholder="None" aria-label="None" aria-describedby="basic-addon1" value="{{ steamid_status.response.players.0.avatarmedium }}">
        </div>
        <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">avatarfull:</span>
            <input type="text" class="form-control" placeholder="None" aria-label="None" aria-describedby="basic-addon1" value="{{ steamid_status.response.players.0.avatarfull }}">
        </div>
        <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">avatarhash:</span>
            <input type="text" class="form-control" placeholder="None" aria-label="None" aria-describedby="basic-addon1" value="{{ steamid_status.response.players.0.avatarhash }}">
        </div>
        <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">lastlogoff:</span>
            <input type="text" class="form-control" placeholder="None" aria-label="None" aria-describedby="basic-addon1" value="{{ steamid_status.response.players.0.lastlogoff }}">
        </div>
        <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">personastate:</span>
            <input type="text" class="form-control" placeholder="None" aria-label="None" aria-describedby="basic-addon1" value="{{ steamid_status.response.players.0.personastate }}">
        </div>
        <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">realname:</span>
            <input type="text" class="form-control" placeholder="None" aria-label="None" aria-describedby="basic-addon1" value="{{ steamid_status.response.players.0.realname }}">
        </div>
        <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">primaryclanid:</span>
            <input type="text" class="form-control" placeholder="None" aria-label="None" aria-describedby="basic-addon1" value="{{ steamid_status.response.players.0.primaryclanid }}">
        </div>
        <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">timecreated:</span>
            <input type="text" class="form-control" placeholder="None" aria-label="None" aria-describedby="basic-addon1" value="{{ steamid_status.response.players.0.timecreated }}">
        </div>
        <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">personastateflags:</span>
            <input type="text" class="form-control" placeholder="None" aria-label="None" aria-describedby="basic-addon1" value="{{ steamid_status.response.players.0.personastateflags }}">
        </div>
        <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">loccountrycode:</span>
            <input type="text" class="form-control" placeholder="None" aria-label="None" aria-describedby="basic-addon1" value="{{ steamid_status.response.players.0.loccountrycode }}">
        </div>
        <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">locstatecode:</span>
            <input type="text" class="form-control" placeholder="None" aria-label="None" aria-describedby="basic-addon1" value="{{ steamid_status.response.players.0.locstatecode }}">
        </div>
        <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">loccityid:</span>
            <input type="text" class="form-control" placeholder="None" aria-label="None" aria-describedby="basic-addon1" value="{{ steamid_status.response.players.0.loccityid }}">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    <hr>
    <form>
        <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">steamid:</span>
            <input type="text" class="form-control" placeholder="None" aria-label="None" aria-describedby="basic-addon1" value="{{ vacstatus.players.0.SteamId }}">
        </div>
        <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">CommunityBanned:</span>
            <input type="text" class="form-control" placeholder="None" aria-label="None" aria-describedby="basic-addon1" value="{{ vacstatus.players.0.CommunityBanned }}">
        </div> 
        <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">VACBanned:</span>
            <input type="text" class="form-control" placeholder="None" aria-label="None" aria-describedby="basic-addon1" value="{{ vacstatus.players.0.VACBanned }}">
        </div>
        <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">NumberOfVACBans:</span>
            <input type="text" class="form-control" placeholder="None" aria-label="None" aria-describedby="basic-addon1" value="{{ vacstatus.players.0.NumberOfVACBans }}">
        </div>
        <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">DaysSinceLastBan:</span>
            <input type="text" class="form-control" placeholder="None" aria-label="None" aria-describedby="basic-addon1" value="{{ vacstatus.players.0.DaysSinceLastBan }}">
        </div>
        <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">NumberOfGameBans:</span>
            <input type="text" class="form-control" placeholder="None" aria-label="None" aria-describedby="basic-addon1" value="{{ vacstatus.players.0.NumberOfGameBans }}">
        </div>
        <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">EconomyBan:</span>
            <input type="text" class="form-control" placeholder="None" aria-label="None" aria-describedby="basic-addon1" value="{{ vacstatus.players.0.EconomyBan }}">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>