<div class="card">
    <div class="card-body">
        <p><strong>Дата публикации</strong>: {{ steamids1.0.pub_date|date:"d.m.Y" }}</p>
        <p>SteamID: <a href="https://steamcommunity.com/profiles/{{ steamids1.0.steamid }}" target="_blank">{{ steamids1.0.steamid }}</a></p>

        {% if steamids1.0.personastate == '0' %}
            <p>Статус: Offline</p>
        {% elif steamids1.0.personastate == '1' %}
            <p>Статус: Online</p>
        {% elif steamids1.0.personastate == '2' %}
            <p>Статус: Busy</p>
        {% elif steamids1.0.personastate == '3' %}
            <p>Статус: Away</p>
        {% elif steamids1.0.personastate == '4' %}
            <p>Статус: Snooze</p>
        {% elif steamids1.0.personastate == '5' %}
            <p>Статус: looking to trade</p>
        {% elif steamids1.0.personastate == '6' %}
            <p>Статус: looking to play</p>
        {% endif%}
        
        {% if steamids1.0.communityvisibilitystate == '1' %}
            <p>Профиль: Скрытый
        {% elif steamids1.0.communityvisibilitystate == '3' %}
            <p>Профиль: Открытый</p>
        {% endif%}

        {% if steamids1.0.profilestate == '1' %}
            <p>Профиль: Настроен
        {% else %}
            <p>Профиль: Не настроен</p>
        {% endif%}

        <p>Имя: {{ steamids1.0.personaname }}</p>

        <p>commentpermission: {{ steamids1.0.commentpermission }}</p>
        
        <p>Ссылка на профиль: <a href="{{ steamids1.0.profileurl }}" target="_blank">{{ steamids1.0.profileurl }}</a></p>
        
        {% if steamids1.0.lastlogoff == 'None' %}
        {% else %}
        <p>lastlogoff: {{ steamids1.0.lastlogoff }}</p>
        {% endif%}
        
        {% if steamids1.0.personastate == 'None' %}{% else %} <p>personastate: {{ steamids1.0.personastate }}</p> {% endif%}
        {% if steamids1.0.realname == 'None' %}{% else %} <p>realname: {{ steamids1.0.realname }}</p> {% endif%}
        {% if steamids1.0.primaryclanid == 'None' %}{% else %} <p>primaryclanid: {{ steamids1.0.primaryclanid }}</p> {% endif%}
        {% if steamids1.0.timecreated == 'None' %}{% else %} <p>timecreated: {{ steamids1.0.timecreated }}</p> {% endif%}
        {% if steamids1.0.personastateflags == 'None' %}{% else %} <p>personastateflags: {{ steamids1.0.personastateflags }}</p> {% endif%}
        {% if steamids1.0.loccountrycode == 'None' %}{% else %} <p>loccountrycode: {{ steamids1.0.loccountrycode }}</p> {% endif%}
        {% if steamids1.0.locstatecode == 'None' %}{% else %} <p>locstatecode: {{ steamids1.0.locstatecode }}</p> {% endif%}
        {% if steamids1.0.loccityid == 'None' %}{% else %} <p>loccityid: {{ steamids1.0.loccityid }}</p> {% endif%}
        
        {% if steamids1.0.timecreated == 'None' %}
        {% else %}
        <p>timecreated: {{ steamids1.0.timecreated }}</p>
        {% endif%}
    </div>
</div>